<table>
  <tr>
    <app-my-button></app-my-button>
  </tr>
  <tr>
    <app-input></app-input>
  </tr>
  <tr>
    <app-checkbox></app-checkbox>
  </tr>
  <tr>
    <app-combobox></app-combobox>
  </tr>
  <tr>
    <app-text-area></app-text-area>
  </tr>
  <tr>
    <app-time-picker></app-time-picker>
  </tr>
  <tr>
    <app-stepInput></app-stepInput>
  </tr>
  <tr>
    <app-switch></app-switch>
  </tr>
  <tr>
    <app-select></app-select>
  </tr>
  <tr>
    <app-date-picker></app-date-picker>
  </tr>
  <tr>
    <app-date-time-picker></app-date-time-picker>
  </tr>
</table>
